.container {
  margin: 24px 18px 24px 12px;

  .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .left-section {
      h2 {
        color: #525256;
        padding-left: 12px;
        border-left: 4px solid #1daeff;

        span {
          color: #888b8b;
          font-size: 18px;
          font-weight: 300;
          text-transform: capitalize;
        }

        img {
          width: 20px;
          height: 20px;
          object-fit: contain;
          margin-left: 4px;
          mix-blend-mode: darken;
          opacity: 0.6;
        }
      }
    }
    .img-wrapper {
      width: 50px;
      height: 50px;

      img {
        width: inherit;
        height: inherit;
        border-radius: 50%;
        object-fit: cover;
        box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
        position: relative;
        border: 1px solid #cccccc;
      }
    }
  }
}

@media screen and (max-width: 900px) {
  .container {
    margin: 12px;
    .wrapper {
      width: 100%;
      .left-section {
        h2 {
          font-size: 16px;
          line-height: 22px;

          span {
            font-size: 14px;
            line-height: 22px;

            &.greetings {
              display: block;
            }
          }

          img {
            display: none;
          }
        }
      }

      .img-wrapper {
        width: 40px;
        height: 40px;
      }
    }
  }
}
