<div class="container">
    <div class="left">
        <div class="textWrapper">
            <span class="middleText">Welcome to <span>Expense Tracker</span> Application</span>
            <span class="bottomText">
                Managing your finances just got easier with our intuitive platform. Say goodbye to the hassle of
                tracking expenses manually, and hello to effortless financial management.
            </span>
        </div>
    </div>
    <div class="right">
        <img src="../../../assets/images/3.png" alt="">
        <button (click)="login()"> <img src="../../../assets/icons/logo googleg 48dp.png" alt=""> Continue with
            Google</button>
    </div>
</div>